body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
  background: linear-gradient(90deg, rgba(82,47,232,1) 0%, rgba(156,76,237,1) 35%, rgba(107,41,132,1) 100%);
  background-size: cover;
}
.contenido{
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: relative;
}

h1 {
  width: 1000px;
  margin-bottom: 20px;
  color: black;
  }

h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
}

.foto{
  height: 500px;
  width: auto;
  margin: 50px;
 
}

/*@media screen and (min-width: 500px) */